@import "../../styles/variables.scss";
@import "../../styles/responsive.scss";
.navbar {
  background-color: $main-color;
  position: fixed !important;
  width: 100%;
  z-index: 9;
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    margin-block: 5px;
    font-family: "Dancing Script", cursive !important;
    @include md {
      width: 90%;
    }
    h1 {
      font-size: 32px;
      color: $dark-color;
      @include md {
        font-size: 28px;
      }
      @include sm {
        font-size: 20px;
      }
    }
  }
}
